/**
 * @author Marie-Noëlle Grant <m.noelle.grant@gmail.com>
 * @todo Ajouter des variables si vous pensez qu'elles seront utiles!!
*/

/** Polices de caractères **/

//$fontePrimaire: Neon, Arial, sans-serif;
$fontePrimaire: Montserrat, Arial, sans-serif;
$fonteLiensBoutons: "Neon Absolute Sans", Arial, sans-serif;

  /** Palette de couleurs **/

/* Couleurs de base */
$magenta: #BE128E;
$marine: #0E1633;
$grisTresPale: #F8F8F8;
$turquoise: #4EFFF0;

/* Autres couleurs */
$rosePale: #FF56D0;
$blanc : #FFFFFF;
$noir : #000000;

/** Points de rupture **/

$bureau : 600px;
$tresGrandEcran : 1440px;